body {
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(#68f771, #f7ff9c);
  min-height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#welcome-text {
  margin: 7px;
  padding: 7px;
  text-align: center;
  max-width: 600px;
}

.welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1,
input,
textarea {
  font-family: "Roboto Mono", monospace;
}

.App {
  font-family: sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  padding: 40px;
  align-content: center;
}

.App .form {
  padding: 40px;
  align-content: center;
}

.input-form input,
.input-form textarea {
  display: block;
  padding: 5px 10px;
  font-size: 14px;
  width: 300px;
  margin-bottom: 20px;
  outline: none;
}

.input-form input[type="submit"] {
  display: inline-block;
  max-width: 100px;
  background-color: #000;
  color: #fff;
  border: 2px solid #eee;
  cursor: pointer;
}
